body{
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: white;
}
header {
  width: 100%;
  margin: 0;
}

#relatif{
  position: relative;
  width: 100%;
}
#absolute{
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  flex-direction: column;
  box-sizing: content-box;
  height: 100vh;
}
#contenant-logo{
  display: flex;
  justify-content: center;
  height: 21%;
}
#contenant-logo img{
height:16vh;

 
}
/* deuxième titre visuel*/
h1 {
  color: white;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size : 57px;
  margin-bottom: 0px;
  margin-top: -5%;
}
/* premier titre visuel*/
#overtitle{
  color: white;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size : 77px;
  margin-right: 20%;
  line-height: 100%;
  margin-top: 250px;
}
/* DIV containing the titles */
#title {
  display: flex;
  flex-direction: column-reverse;
  margin-left: 5%;
  top: 0%;
  height: 64%;
  justify-content: center;
}
section {
  width:100%;
  display: flex;
}
#section_1{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 0%;
  margin-top: 0%;
}
#texte_s1 {
  width:45%;
  padding: 5%;
}
#photo_s1 {
  width:50%;
}
/* pour les sections 1 et 3 */
.titres_sections {
  margin: 0px;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 45px;
  line-height: 93%;
  text-transform:uppercase;
}
/* pour les sections 1 et 3 */
.sous_titres_sections {
  font-family: 'Playfair Display', serif;
  font-weight:400;
  font-size: 19px;
  line-height: 93%;
  padding-top: -20px;
  padding-bottom: 6%;
}
p {
  font-family: 'Lato', sans-serif;
  font-size: 21px;
}
#section_2{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#texte_s2 {
  width:45%;
  padding: 5%;
}
#photo_s2 {
  width:50%;
}
#section_3{
  width: 100%;
  display: flex;
  margin-bottom: -1%;
}
#texte_s3{
  width:40%;
  padding: 5%;
}
#images_s3 {
  padding: 0px;
  margin: 0px;
  width:50%;
  display: flex;
  flex-wrap: wrap;
}
#images_s3 a{
  width: 50%;
  display: flex;
}
.quatre_photos{
  width: 100%;
  opacity: 0.5;
}
.quatre_photos:hover{
  opacity: 1;
}
#photo_s4{
  width: 100%;
  margin-bottom: -1%;
  margin-top: 0%;
}
/*Bouton demander un essai*/
#header-btn{
  display: flex;
  align-items: center;
  background-color: white;
  width: 16vw;
  margin: 0;
  padding: 0;
  align-self: flex-end;
  position: fixed;
}
#header-btn a{
  text-decoration: none;
  font-family: 'Playfair Display', serif;
  color: black;
  font-weight: 500;
  font-size: 17px;
  margin-left: -4%;
}
main{
  margin-top: -1%;
}
#padtest{
  display:flex;
  justify-content: flex-end;
  height:15%;
  margin-right: 4vw;
}
.perf{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}
.end{
  display: flex;
  justify-content: end;
}
.perfresult{
  font-weight: 500;
  font-family: 'Lato', sans-serif;
  font-size: 21px;
}
#lastperf {
  border-bottom: none;
}
/*partie footer*/
#links{
  width: 50%;
  display: flex;
}
.liens{
  width: 50%;
  font-size: 21px;
}
footer{
  display: flex;
  background-color: black;
  color: white;
  margin-top: 0%;
  padding-bottom: 3%;
}
#social{
  justify-content: space-around;
  margin-left: 34%;
  margin-top: 3%;
}

li{
  line-height: 180%;
  list-style: none;
  font-family: 'Lato', sans-serif;
}
#links h3 {
  margin-top: 17%;
  margin-left:11%;
}
/*section formulaire*/
#relative_2{
  position: relative;
  width: 100%;
}
#absolute_2{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
  height: 100vh;
}
#image_form{
  width: 100%;
  margin: 0%;
}
#section_4{
  width: 100%;
  margin-top: -1%;
  margin-bottom: -1%;
}
form{
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-self: flex-end;
  margin-right: 5%;
}
#contenant_form{
  display: flex;
  justify-content: flex-end;
  margin-top: -3%;
  height:73vh;
}
.form_s4{
  margin-top: 5%;
  padding: 2%;
  border: none;
  color: black;
}
#button{
  background-color: black;
  color:white;
  padding: 2%;
  width: 400px;
  font-size: 28px;
  font-weight: bold;
  font-family: 'Playfair Display', serif;
  border: none;
}
#id_button{
  display: flex;
  justify-content:center;
}
#mergeRow-gdpr *{
font-size: 12px;
}
.liens a{
  text-decoration: none;
  color: white;
}
.liens a:hover{
  color: #534396;
}
#texte_s4 h2{
  font-size: 78px;
  margin-bottom: 0%;
}
#texte_s4 h3{
  font-size: 39px;
  font-weight: 400;
  margin-top: 0%;
}
#texte_s4{
  padding-left: 5%;
  height: 27%;
}
.liens h3, #social h3{
  font-size: 25px;
}
#pad_foot{
  padding-bottom: 7%;
}
#header_photo{
  width: 100%;
}
#button:hover{
  background-color: #534396;
}
.pink:hover{
  width: 45px;
}
#header-btn a:hover{
  color:#534396;
}
footer img{
  padding: 0 5px 0 5px;
}



@media 
screen and (max-width: 1024px),
screen and (max-device-width: 1024px){
  #contenant-logo{
    width: 100%;
    justify-content: center;
    
  }
  header h1 { 
    font-size: 40px;  
    justify-content: flex-end;
    margin-top:10%;
  }
  #overtitle{
    margin-right:0;
    font-size: 75px;
    justify-content: flex-end;
    margin-top:-97px;
  }
  #absolute{
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  #contenant-logo img{
    height:7vh;
  }
    
  #title{
  align-items: flex-start;
  margin-right: 200px;
  }
  section, #section_1, #section_3, #section_4 {
      display: flex;
      /*flex-direction: column;*/
      flex-direction: column;
      width: 100%;
  }
  #section_2{
    display: flex;
    flex-direction: column-reverse;
  }
  #photo_s1, #photo_s2, #images_s3 {
    width: 100%;
  }
  #texte_s1, #texte_s2, #texte_s3{
    width: 90%;
  }
  #texte_s1 p, #texte_s2 p , #texte_s3 p{
   font-size: 35px;
  }
  #texte_s1 h2, #texte_s2 h2 , #texte_s3 h2{
    font-size: 40px;
   }
   #texte_s1 h3 , #texte_s3 h3{
    font-size: 30px;
    padding-bottom: 2%;
   }
   #texte_s2 h3{
    font-size: 35px;
   }
  .perfresult, .end{
    font-size: 35px;
    font-weight: 500;
  }
  #padtest{
    justify-content: flex-end;
    padding-left: 50px;
  }
  #header-btn{
    width: 35vw;
    align-self: center;
    position: relative;
  }
  #header-btn img{
    width: 30%;
  }
  #header-btn a{
    font-size:27px;
  }
  /* Début changements formulaire */
  #relative_2{
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    width: 100%;
  }
  #photo_s4{  
    display: none;
  }
  .form_s4{
    margin-top: 12px;
    padding: 3%;
    border: none;
    color: black;
    opacity : 0.5;
  }
  #texte_s4{
    /* margin-right:470px; */
    height: 20%;
  }
  
  #texte_s4 h2{
    font-size: 73px;
    line-height: 110%;
    margin-top: 15px;
  }
  
  #texte_s4 h3{
   margin-top: 0px;
   padding-top: 0px;

  }
  #contenant_form{
    width:100%;
    height: 50vh;
  }
  #absolute_2{
    height: 100%;
    flex-direction: column;
    position: relative;
    width: 100%;
    background-color:black;
    background-image: url(../img/bmw4x4brouillard.png);
    background-repeat: no-repeat; 
  }
  form{
    width: 90%;
    height: 55vh;
  }
  footer{
    display: flex;
    flex-direction: column-reverse;
  }
  #links{
    width: 100%;
    justify-content: space-around;
  }
  #liens{
    width: 100%;
  }
  #links h3{
    margin-top: 10%;
    margin-left:8%;
    font-size: 37px;
  }
  #social{
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 40px;
    margin: auto;
    border-bottom: 2px white dashed;
  }
#social h3{
  font-size: 37px;
  }
  #foot_img{
    display: flex;
    justify-items: center;
  }
  footer img{
    padding: 20px 20px 0 20px;
  }
#button{
  font-size: 35px;
}

#links a{
  font-size: 26px;
}

}
@media
screen and (max-width: 768px),
screen and (max-device-width: 768px){
  #contenant_form{
    height: 50vh;
  }
}
@media 
screen and (max-width: 500px),
screen and (max-device-width: 500px){
  #contenant-logo{
    width: 100%;
    justify-content: center;
  }
  #contenant-logo img{
    height:5vh;
  }
  header h1 { 
    font-size: 43px;  
    justify-content: flex-end;
    padding-top: 0px;
  }
  #overtitle{
    margin-right:0px;
    font-size: 80px;
    justify-content: flex-end;
    margin-top: -30px;
  }
  
  #absolute{
    display: flex;
    flex-direction: column;
  }

  #title{
 align-items: flex-start;
 margin-right: 90px;
  }
  section, #section_1, #section_3, #section_4 {
      display: flex;
      /*flex-direction: column;*/
      flex-direction: column;
      width: 100%;
  }
  #section_2{
    display: flex;
    flex-direction: column-reverse;
  }
  #photo_s1, #photo_s2, #images_s3 {
    width: 100%;
  }
  #texte_s1, #texte_s2, #texte_s3{
    width: 90%;
  }
  #texte_s1 p, #texte_s3 p{
    font-size: 28px;
   }
   #texte_s1 h2, #texte_s2 h2 , #texte_s3 h2{
     font-size: 37px;
    }
    #texte_s1 h3 , #texte_s3 h3{
     font-size: 20px;
     padding-bottom: 2%;
    }
    #texte_s2 h3, #texte_s2 p {
     font-size: 35px;
    }
  .perfresult, .end{
    font-size: 35px;
    font-weight: 500;
  }
  #padtest{
    justify-content: flex-end;
    padding-left: 50px;
  }
  #header-btn{
    width: 30vw;
    align-self: center;
    position: relative;
  }
  #header-btn a{
    font-size:26px;
    margin-left: -2%;
  }
  #header-btn img{
    width: 20%;
  }
  .form_s4{
    margin-top: 12px;
    padding: 3%;
    border: none;
    color: black;
  }
  #texte_s4{
    margin-right:0px;
  }
  #contenant_form{
    height: 37vh;
  }
  footer{
    display: flex;
    flex-direction: column-reverse;
  }
  #links{
    width: 100%;
    justify-content: space-around;
  }
  #liens{
    width: 100%;
  }
  #links h3{
    margin-top: 17%;
    margin-left:8%;
  }
  #social{
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 40px;
    margin: auto;
    border-bottom: 2px white dashed;
  }
  #foot_img{
    display: flex;
    justify-items: center;
  }
  footer img{
    padding: 0 20px 0 20px;
  }
  #texte_s4 h3{
    padding-top: 0px;
    margin-top:0px;
  }

  #texte_s4 h2 {
    font-size: 73px;
    margin-top: 15px;
  }
}

@media
screen and (max-width: 300px),
screen and (max-device-width: 300px){
  #contenant_form{
    height: 31vh;
  }
}