body{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: white;
}

header {
  background-image: url("../img/bmw 4x4 arriere.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 904px;
}

/* deuxième titre visuel*/
h1 {
  color: white;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size : 60px;
  margin-bottom: 0px;

}

/* premier titre visuel*/
#overtitle{
  color: white;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size : 81px;
  margin-top: 18%;
  margin-right: 20%;
  line-height: 94%;
}
/* DIV containing the titles */
#title {
  display: flex;
  flex-direction: column-reverse;
  margin-left: 5%;

}

section {
  width:100%;
  display: flex;
}

#section_1{
  flex-direction: row;
  justify-content: space-around;
}

#texte_s1 {
  width:45%;
  padding: 5%;
}

#photo_s1 {
  width:50%;
}

/* pour les sections 1 et 3 */
.titres_sections {
  margin: 0px;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 280%;
  line-height: 93%;
  text-transform:uppercase;
}

/* pour les sections 1 et 3 */
.sous_titres_sections {
  font-family: 'Playfair Display', serif;
  font-weight:400;
  font-size: 123%;
  line-height: 93%;
  padding-top: -5%;
  padding-bottom: 6%;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 136%;
}

#section_2{
  flex-direction: row;
  justify-content: space-around;
}

#texte_s2 {
  width:45%;
  padding: 5%;
}

#photo_s2 {
  width:50%;
}

#section_3{
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
}

#texte_s3{
  width:40%;
  padding: 5%;
}

#images_s3{
  padding: 0px;
  margin: 0px;
  width:50%;
  display: flex;
  flex-direction:row;
}

.quatre_photos{
  width: 100%;
}

#photo_s4{
  width: 100%;
  z-index: 1;
}

#texte_s4{
  z-index: 2;
  position: absolute;
}
#form_s4{
  z-index: 3;
  position:absolute;
}
